@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");



body {
  font-family: "Roboto", sans-serif;
  height: 300vh;
  background: url(./images/dogu-tuncer-92J2wb7M7GU-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
}

body:before {
  height: 300vh;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.3)
  );
}

button,
input,
select,
textarea {
  font-family: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 10px;
}

.header-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
}

.header-content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1,
h3 {
  z-index: 99;
  color: white;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
}

.main-nav {
  z-index: 99;
}

.main-nav ul {
  display: flex;
  justify-content: space-around;
}

.main-nav ul li {
  list-style-type: none;
}

.main-nav ul li a {
  z-index: 99;
  text-decoration: none;
  color: white;
}

/* Features */
.features-section {
  position: relative;
}

.features-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  z-index: 99;
  background-image: none;
}

.feature-header {
  text-align: center;
  font-size: 3rem;
  color: white;
}

.feature {
  border: 1px solid black;
  border-radius: 1rem;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.feature h2,
.feature p {
  padding: 2rem;
}

.img-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.feature-image {
  width: 100%;
  height: auto;
}

/* Menu*/
.menu-section {
  /* height: 150vh; */
  position: relative;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-item {
  /* height: 30%; */
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  height: 200px;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: bisque;
}
.column1 {
  text-align: center;
  padding: 1rem;
}

.column2 {
  width: 30%;
  height: 100%;
  padding: 1rem;
}

.menu-img {
  height: 150px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Contact */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
  background-color: bisque;
}

form {
  padding: 0;
  margin: 0;
}

.form-group {
  width: 100%;
}

.form-item { margin-top: 1rem;}

.form-item input, .form-item textarea, .select-wrapper select {
  width: 100%;
  border: 1px solid gray;
  border-radius: .5rem;
}

.select-wrapper {
  position: relative;
}


.form-item input {
  height: 2rem;
  font-size: 1.5rem;
}

.btn-container button {
  width: 100%;
  margin: 0; 
  border-radius: .5rem;
}

/* Footer */
footer {
  position: relative;
  height: 100px;
  background-color: black;
  margin-top: 10px;
  /* padding-top: 50px; */
  z-index: 99;
}

.section-footer {
  display: flex;
  justify-content: space-between;
}

.footer-nav ul li a {
  color: white;
}

.copyright p {
  color: white;
  padding: 1rem;
}
