@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 300vh;
  background: url(./images/dogu-tuncer-92J2wb7M7GU-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body:before {
  height: 300vh;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.3)
  );
}

.header-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
}

.header-content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1,
h3 {
  z-index: 99;
  color: white;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
}

.main-nav {
  z-index: 99;
}

.main-nav ul {
  display: flex;
  justify-content: space-around;
}

.main-nav ul li {
  list-style-type: none;
}

.main-nav ul li a {
  z-index: 99;
  text-decoration: none;
  color: white;
}

/* Features */
.features-section {
  position: relative;
}

.features-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  z-index: 99;
  background-image: none;
}

.feature-header {
  text-align: center;
  font-size: 3rem;
  color: white;
}

.feature {
  border: 1px solid black;
  border-radius: 1rem;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.feature h2,
.feature p {
  padding: 2rem;
}

.img-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.feature-image {
  width: 100%;
  height: auto;
}

/* Menu*/
.menu-section {
  height: 100vh;
  position: relative;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-item {
  /* height: 30%; */
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  height: 200px;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: bisque;
}
.column1 {
  text-align: center;
  padding: 1rem;
}

.column2 {
  width: 30%;
  height: 100%;
  padding: 1rem;
}

.menu-img {
  height: 150px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
